html {
font-family: 'Work Sans', sans-serif;
font-style: normal;
color: #1D1D1D;
font-size:52px;
line-height: normal;
box-sizing: border-box;
}



* ,
*:before,
*:after {
margin: 0;
padding: 0;
}

a {
text-decoration: none;
color: #1D1d1d;
}



@media (max-width: 714px){
html {
font-size: 44px;
line-height: normal;
}
}

@media (max-width: 600px){
html {
font-size: 36px;
line-height: normal;
}
}

@media (max-width: 440px){
html {
font-size: 26px;
line-height: normal;
}
}

.info_conteyner {
margin-top: 1em;
padding-right: 1em;
}

.name_conteyner {
padding-top: 1em;
}

.socials_conteyner {
margin-top: 1em;
}

a:hover {
/* text-decoration: underline ;
color: red; */
background-color: aqua;
}

p{
margin-left: 0.5em;
}

body {
background: url("./lines_vertical.svg") no-repeat;
background-size: 100%;
background-position: cover;
height: 100%;
}
